    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        label {
            font-family: Arial, Helvetica, sans-serif; 
            font-weight: bold;
        }
        button { 
            width: 170px;
            background-color:  #14213d;
            border: 1px solid #fca311;
            border-radius: 4px;
            color: #fca311;
            padding: 3px 7px;
            margin-top: 5px;
        }    
        .button:hover {
            background-color:  #fca311;;
            color:  #14213d;
        }
        form {margin: 5% 40%;}
    </style>
</head>
   
<body>
   
   <article>
    <div id="Login" class="tabcontent login">
        <form action="/new-password" method="POST">
            <div class="form-control"> 
                <label>New Password:</label>  
                <input type="password"
                        placeholder="Enter Password"
                        name="password">  
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
            </div>    
            <button type="submit" class="button" >Update Password</button>  
          </form>
    </div>
    </article>
</body>
</html>