<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="css/book-detail.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>>
    <%- include('includes/header.ejs')%>
    <article >
        <div class="img_container">
            <img class="book_image" src="images/kids.jpg">
            <a class="button" href="/">Place Request</a>
        </div>
        <header>
            <h1>Miss Bindergarten Celebrates the Last Day of KinderGarten</h1>
        </header>
        <h3>By Joseph Slate</h3>
        <span class="borrowed">Borrowed</span>
        <span class="queue" >2 in a queue</span>
        <p>Miss Bindergarten and her class have had a great year in kindergarten! They have gone on a field trip, marked the 100th day, created a circus, and even survived a wild day. But now the school year is over, and it's time to remember, to celebrate, and for Miss Bindergarten to say, Good-bye, kindergarten. It's been a special year.? The bestselling Miss Bindergarten series comes to a sweet and jubilant conclusion by honoring an important passage: the last day of kindergarten. Filled with last-day classroom ideas, it's also a perfect gift to honor graduation and moving-up ceremonies. Miss Bindergarten Celebrates the Last Day of Kindergarten is the perfect way for teachers and students to commemorate their own end-of-the-year festivities.</p>
    </article>
</body>
</html>