<%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<%- include('includes/header.ejs')%>
<main>
    <div class="grid">
        <article class="book_item">
            <!-- <header>
                <h1>Miss Bindergarten Celebrates the Last Day of KinderGarten</h1>
            </header> -->
            <div class="img_container">
                <img class="book_image" src="images/kids.jpg">
            </div>
            <div></div>
            <div class="book_actions">
                <a class="button" href="">Details</a>
            </div>
        </article>

        <article class="book_item">
           
            <div class="img_container">
                 <img class="book_image" src="images/tolstoy.jpg">
            </div> 
            <div class="book_actions">
                <a class="button" href="">Details</a>
            </div>
        </article>
    </div>
</main>
</body>
</html>