.grid{
    margin: 6rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: stretch;
}

.book_item{
    box-shadow: 0 2px 8px grey;
    width: 225px;
    
    /* background-color: #e5e5e5; */
    height: 396px;
}

.book_image{
    width: 225px;
    height: 340px;
}

.img_container{
    height:340px;
}

.book_actions {
    background-color: #14213d;
    padding: 15px;
    margin: 0;
}

.button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fca311;
    border-radius: 4px;
    color: #fca311;
    padding: 3px 7px;
    margin: 0 4rem;
    width: 3rem;
}

.button:hover {
    background-color:  #fca311;;
    color:  #14213d;
}